{% extends 'base.html' %}


{% block navbar %}
{% endblock %}


{% block content %}
{% include 'auth/register.html' %}

<style>

     #auth_form_container{
        text-align: center;
        width: 300px;
    }

    #logo_container {
        position: absolute;
        width: 30%;
        height: 30%;
        left: calc(50% - 250px);
        margin-top: 5%;
    }

    #auth_form {
        font-weight: bold;
        margin-top: -3.5%;

    }

    #video_container {
        position: absolute;
        width: 80%;
        height: 250px;
        top: 30%;
        left: 10%;
        background-color: black;

    }


    #right_container {
        position: absolute;
        left: 80%;
        height:100%;
        width: 20%;
        background-color: var(--sec-bg-color);
        color: #fdffff;
        font-size: 15px;
        text-align: left;

    }

    #left_container {
        position: absolute;
        height: 100%;
        width: 2%;
        background-color: var(--sec-bg-color);
        margin-right: 97%;
    }


    #description_top{
        position: absolute;
        top: 5%;
        left: 20%;
        width: 80%;
    }

    #description_bottom{
        position: absolute;
        top: 62%;
        left: 20%;
        width: 80%;
    }

    button  {
        margin-top: 7px;
    }

</style>



<div id="logo_container">
    <div style="margin-bottom: 15%;">
        <span style="font-size: 40px; text-align: center;">Raccoon Booker</span>
        <br>
        <span style="font-size: 25px">Your personal finance assistant.</span>
    </div>
    <br>

        <br>
    <img src="/img/logo_login.png">
    <div id="auth_form_container">

        <div id="auth_form">

            <form id="login_form" action="../auth/login" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div>{{ auth_form.username }}</div>
                <div>{{ auth_form.password }}</div>
                <button type="submit" class="nav-button">Sign in</button>
            </form>

            <button type="button" class="nav-button" data-toggle="modal" data-target="#registerModal">
                Register
            </button>

        </div>
    </div>
</div>

<div id="left_container"></div>

<div id="right_container">

    <div id="description_top">
        <h3>
        Simple. Smart.
        <br>
        Fully interactive.
        </h3>
        <br>
        <h5 style="margin-left: 15px">
            Desktop-like reactive<br>
            application in your browser.<br>
            Finance counting never been<br>
            so simple!
        </h5>
        <br>
        <h5 style="margin-left: 15px">
            Easiest registration in two clicks.<br>
            Totally free. <span class="fa fa-heart" style="color: red"></span>
        </h5>
        <br>
        <br>
        <br>
        <h3>Imagine!</h3>
        <br>
        <h5 style="margin-left: 15px">
            No papers.<br>
            No worries about data-saving.<br>
            Charts live-render diagrams<br>
            and total counting.<br>
            <br>
            Write'n'watch!
        </h5>
    </div>


    <div id="description_bottom">
    </div>

</div>

<div id="alerts_container">
{% for alert in alerts %}
    <div class="alert alert-danger" role="alert" style="margin-bottom:30px;">
        {{ alert }}
    </div>
{% endfor %}
</div>




{% endblock %}
