{% extends 'base.html' %}

{% block content %}


<style>
    .app-container  {
        justify-content: center;
        margin-top: 20px;
    }

    .table-field {
        text-align: center;
    }

    table {
        text-align: center;
        align-content: center;
    }

    .checkbox {
        width: 20px;
        height: 20px;
    }

select:focus {
    outline: none;
}

</style>

<div id="user_confs" class="app-container" align="center">
    <h2>Sheets and categories</h2>
    <hr>
    <br>
    <table style="width: 300px;%">
        <thead>
            <tr v-if="bsheets.length">
                <td width="250px">
                    <div class="table-field">
                        <label for="bsheet_select"><b style="margin-right: 15px">Select sheet:</b></label>
                        <select  v-model.number="selected_bs" class="form-control" id="bsheet_select">
                            <option v-for="(bs, index) in bsheets" :value="index">[[ bs.fields.name ]]</option>
                        </select>
                    </div>
                </td>

                <td  class="align-bottom">
                    <div class="table-field">
                        <button @click="delete_base_sheet(selected_bs);" class="fa fa-trash-alt table-button mdm-button"></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table-field">
                        <label for="new_sheet_name"><b style="margin-right: 15px">New sheet name:</b></label>
                        <input v-model="new_bsheet.fields.name" id="new_sheet_name" class="form-control"/>
                    </div>
                </td>
                <td class="align-bottom">
                    <div class="table-field">
                        <button @click='add_base_sheet();' class="fa fa-plus table-button mdm-button align-text-bottom" ></button>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
    <br>
    <br>
    <br>

    <template v-if="bsheets.length">

        <table style="width: 300px;">
            <tr class="align-top">
                <td width="250px" >
                    <label for="selected-bs-name"><b>Name:</b></label>
                    <input v-model="bsheets[selected_bs].fields.name" @blur="edit_base_sheet()" class="form-control" id="selected-bs-name"/>
                </td>

                <td align="center">
                    <label for="addictive_checbox" style="display: inline-block;"><b>Addictive</b></label>
                    <input type="checkbox" v-model="bsheets[selected_bs].fields.autoadd" @change="edit_base_sheet()" class="form-control checkbox" id="addictive_checbox">
                </td>
            </tr>
        </table>
        <br>

        <table style="width: 30%" class="table" align="center">
            <caption style="caption-side: top; color: black"><h4><b>Categories: [[ bsheet_categories.length ]] / 10</b></h4></caption>
            <thead>
                <tr class="tr-total">
                    <th width="40%">Name</th>
                    <th width="40">Type</th>
                    <th width="10%">Color</th>
                    <th width="10%">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(cat, index) in bsheet_categories">
                    <td>
                        <div class="table-field" >
                            <input v-model="cat.fields.name" class="form-control" @blur="edit_category(index)"/>
                        </div>
                    </td>

                    <td>
                        [[ cat.fields.positive ? 'Earnings': 'Costs' ]]
                    </td>

                    <td>
                        <select v-if="!cat.fields.positive" v-model="cat.fields.color" class="form-control" @change="edit_category(index)" style="width: 40px; height: 30px;" :style="'background-color: ' + cat.fields.color">
                            <option v-for="col in color_palette" :value="col" :style="'background-color: '+col"></option>
                        </select>
                        <div v-if="cat.fields.positive" class="form-control" style="border: 2px solid black; width: 40px; height: 30px; background-color: transparent;"></div>
                    </td>

                    <td>
                        <div class="table-field">
                            <button @click='delete_category(index);' class="fa fa-trash-alt table-button mdm-button" ></button>
                        </div>
                    </td>
                </tr>
                <tr v-if="bsheet_categories.length < 10">
                    <td>
                        <div class="table-field">
                            <input v-model="new_category.fields.name" class="form-control"/>
                        </div>
                    </td>
                    <td>
                        <select class="form-control" v-model="new_category.fields.positive">
                            <option :value="true">Earnings</option>
                            <option :value="false">Costs</option>
                        </select>
                    </td>
                    <td>
                        <select v-if="!new_category.fields.positive" class="color-palette" v-model="new_category.fields.color" class="form-control" style="width: 40px; height: 30px;" :style="'background-color: ' + new_category.fields.color">
                            <option v-for="col in color_palette" :value="col" :style="'background-color: '+col"></option>
                        </select>
                    </td>
                    <td>
                        <div class="table-field">
                            <button class="fa fa-plus table-button mdm-button" @click="add_category();" ></button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </template>

</div>
<br>
<br>
<br>


<script>

    bsheets = JSON.parse({{ bsheets|safe|tojson }});
    all_categories =  JSON.parse({{ categories|safe|tojson }});
    colors_palette = JSON.parse({{ colors_palette|safe|tojson  }})
  

    t = new Vue({
        el: '#user_confs',
        data: {
            bsheets: bsheets,
            all_categories: all_categories,
            color_palette: colors_palette,
            selected_bs: 0,


            new_bsheet: {
                fields: {
                    autoadd: true
                }
            },

            new_category:
                {
                    fields: {
                        color: colors_palette[0],
                        positive: false
                    }
                }
        },


        methods: {

            copy_obj: function(obj) {
              return JSON.parse(JSON.stringify(obj))
            },


            add_category: function() {
                copy = this.copy_obj(this.new_category);
                copy.fields.sheetbase = bsheets[this.selected_bs].pk;
                axios.post('/settings/add_category', JSON.stringify(copy.fields)).then(response => (
                    copy.pk = response.data.pk
                ));
                this.all_categories.push(copy);
            },

            edit_category: function(index){
                kwargs = this.bsheet_categories[index].fields;
                kwargs.pk = this.bsheet_categories[index].pk;
                axios.post('/settings/update_category', JSON.stringify(kwargs))
            },

            delete_category: function(index){
                var vueInstance = this;
                dialogbox('All linked by category rows will be deleted!', 'warning', 'Do you really want to delete this category?' , true)
                .then(function (value) {
                    if (value.value) {
                        let pk = vueInstance.bsheet_categories[index].pk;
                        kwargs = {pk: pk};
                        axios.post('/settings/delete_category', JSON.stringify(kwargs));
                        del_index = NaN;
                        vueInstance.all_categories.forEach(function (cat, index) {
                            if (cat.pk === pk) {
                                del_index = index;
                            }
                        });
                        vueInstance.all_categories.splice(del_index, 1);
                    }
                })
            },

            add_base_sheet: function () {
                copy = this.copy_obj(this.new_bsheet);
                axios.post('/settings/add_bsheet',JSON.stringify(copy.fields)).then(response => (
                    copy.pk = response.data.pk
                ));
                this.bsheets.push(copy);
                this.selected_bs = this.bsheets.length - 1;

            },

            edit_base_sheet: function() {
                kwargs = this.bsheets[this.selected_bs].fields;
                kwargs.pk = this.bsheets[this.selected_bs].pk;
                axios.post('/settings/update_bsheet',JSON.stringify(kwargs));

            },

            delete_base_sheet: function (index) {
                var vueInstance = this;
                dialogbox('All linked child sheets, sheet categories and rows will be deleted!', 'warning', 'Do really want to delete this sheet?', true)
                .then(function (value) {
                if (value.value) {
                    kwargs = {pk: vueInstance.bsheets[index].pk};
                    axios.post('/settings/delete_bsheet', JSON.stringify(kwargs));
                    vueInstance.bsheets.splice(index, 1);
                    vueInstance.selected_bs = vueInstance.bsheets.length - 1;
                    }
                })
            }
        },

        computed: {
            bsheet_categories: function () {
                var res = [];
                if (this.bsheets.length) {
                    var t = this.bsheets[this.selected_bs].pk;
                    this.all_categories.forEach(function (cat) {
                        if (cat.fields.sheetbase === t) {
                            res.push(cat);
                       }
                    });
                }
                return res;
            }
        }

    });
</script>



{% endblock %}