<script>
        function add_hidden (field_name, field_value) {
             var field =  document.createElement("input");
             field.type = "hidden";
             field.name = field_name;
             field.id = "id_" + field_name;
             field.value = field_value;
             return field
        }

        function send_post(args) {
            form = document.getElementById('post_form');

            var add_fields = [
                // selected input handling
                add_hidden("addFormDateSelectList", document.getElementById("id_addFormDateSelectList").value),
                // selected filters handling
                add_hidden("filterFormDateFromSelectList", document.getElementById("id_filterFormDateFromSelectList").value),
                add_hidden("filterFormDateToSelectList", document.getElementById("id_filterFormDateToSelectList").value),
                add_hidden("action_type", args['action_type'])
            ];

            if(['pin', "delete", "toggle"].includes(args['action_type']) ) {
                add_fields.push(add_hidden("rowId", args['rowId']));
                add_fields.push(add_hidden("action_value", args["action_value"]));

            } else if (args['action_type'] === 'add') {
                add_fields.push(add_hidden("addFormDescr", document.getElementById("id_addFormDescr").value));
                add_fields.push(add_hidden("addFormCategory", document.getElementById("id_addFormCategory").value));
                add_fields.push(add_hidden("addFormPrice", document.getElementById("id_addFormPrice").value));

            }

            for (var field_index in add_fields) {
                form.appendChild(add_fields[field_index]);
            }

            form.submit();

        }
</script>