{% load staticfiles %}
<html lang="en">
{% include 'head.html' %}
{% include 'navbar.html' %}
{% include 'chart.html' %}
{% include 'index_style.html' %}
{% include 'dynamic_form_js.html' %}
<body>

<div id="alerts_container">
    {% for alert in alerts %}
        <div class="alert alert-danger" role="alert" style="margin-bottom:30px;">
            <center>{{ alert }}</center>
        </div>
    {% endfor %}
</div>


<div id="root_window">

    <div id="add_form" class="fixed-top">{% csrf_token %}
        <div class="table_caption">Add new</div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th width="20%">Date</th>
                    <th width="30%">Description</th>
                    <th width="30%">Category</th>
                    <th width="15%">Price</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>{{ add_form.addFormDateSelectList }}</th>
                    <th>{{ add_form.addFormDescr }}</th>
                    <th>{{ add_form.addFormCategory }}</th>
                    <th>{{ add_form.addFormPrice }}</th>

                    <th>
                        <button type="sumbit" class="btn btn-primary mb-2" id="save_button" onclick="send_post({'action_type':'add'});">Save</button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>

        <form id="post_form" method="POST" action="">{% csrf_token %}</form>

        <br><br>

        <div style="width:35%; height: 50px; margin-left: 3%;  border-radius: 25px; background-color: #2d77c8; display: table;">

            <div style="margin-left: 5%; margin-top: 10px;">
                <font style="color: white;">Data filters:</font>
                {% for field in filter_form %}
                    <div class="data_filter">{{ field }}</div>
                {% endfor %}
                <button class="d-inline-block align-center" onclick="send_post({'action_type': 'filter'})">Filter it!</button>
            </div>

        </div>

        <br><br>

        {% for table in tables %}
        <div class="period_container">
            <div class='costs_table'>
                <table class="table table-borderless">
                    <div class="table_caption">{{ table.period }}</div>
                    <thead>
                        <tr>
                            {% for col in tables_columns %}
                            <th width="{{ col.1 }}%" scope="col">{{ col.0 }}</th>
                            {% endfor %}
                        </tr>

                    </thead>

                    <tbody>

                        {% for row in table.person_earnings %}
                        <tr>
                            <th></th>
                            <th></th>
                            <th>{{ row.descr }}</th>
                            <th>earnings</th>
                            <th>{{ row.price }}</th>
                            <th>
                                <button type="sumbit" class="glyphicon glyphicon-remove" onclick="send_post({'action_type':'delete', 'rowId':{{ row.id }} })"></button>
                            </th>
                        </tr>
                        {% endfor %}

                        {% for row in table.person_costs %}
                            <tr class="{{ row.toggle|yesno:'tr,disabled_tr' }}">
                                <th>
                                    <button class="d-inline-block align-center" onclick="send_post({'action_type':'toggle', 'rowId': {{ row.id }} })">
                                        <img src="{% static '' %}{{ row.toggle|yesno:'img/on.png,img/off.png' }}" width="20"/>
                                    </button>
                                </th>

                                 <th>
                                    <button class="d-inline-block align-center" onclick="send_post({'action_type':'pin', 'rowId': {{ row.id }} })">
                                        <img src="{% static '' %}{{ row.pinned|yesno:'img/pinned.png,img/unpinned.png' }}" width="20"/>
                                    </button>
                                </th>


                                <th>{{ row.descr }}</th>
                                <th>{{ row.category }}</th>
                                <th>{{ row.price }}</th>

                                <th>
                                    <button type="sumbit" class="glyphicon glyphicon-remove" onclick="send_post({'action_type':'delete', 'rowId':{{ row.id }} })"></button>
                                </th>

                            </tr>

                        {% endfor %}
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total: {{ table.delta }}</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="costs_chart" id="chartContainer{{ forloop.counter }}"></div>
            <script>renderChart( {{ table.chart_data|safe }},  "chartContainer{{ forloop.counter }}")</script>
        </div>
        {% empty %}
            <br><center><h1 class='costs_table'>No data</h1></center>
        {% endfor %}
</div>
</body>

</html>