{% load staticfiles %}
{% include 'generic_style.html' %}
<style>
    nav {
       width: 90%;
       margin-left: 5%;
       height: 90px;
       background-color: white;
       border-top-left-radius: 200px;
       border-top-right-radius: 200px;
       }


    #logout_form {
        position: absolute;
        right: 3%;
    }


    #logo_label {

        position: absolute;
        left: 12%;
        width: 300px;
        height: 50px;
        border-radius: 100px;
        background-color: #2d77c8;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


    }

    #logo-image {
        position: absolute;
        left: 3%;

    }

    #navbar_buttons {
        position: absolute;
        left: 33%;
        width: 70%;
    }

    .div_navbar_button {
        display: inline-block;
    }




</style>
<nav class="navbar navbar-dark fixed-top navbar-expand-md ">
    <div class="container" >


        <div class="navbar-collapse collapse">

            <a class="navbar-brand" href="index" id="logo-image">
                <img src="{% static 'img/logo2.png' %}" width="120" height="105" class="d-inline-block align-center" alt=""></a>

            <div id="logo_label">
                <i><font size="6" face="Geneva" color="white">Raccoon bookkeeper</font></i>
            </div>

            <div id="navbar_buttons">
                <div class="div_navbar_button">
                    <form  action="./user_confs" method="get">
                        <button type="submit" class="btn btn-lg btn-outline-info my-2 my-sm-0" style="margin-left: 30px;">Settings</button>
                    </form>
                </div>

                <div class="div_navbar_button">
                    <form  action="/about" method="get" >
                        <button type="submit" class="btn btn-lg btn-outline-info my-2 my-sm-0" style="margin-left: 30px;">About</button>
                    </form>
                </div>

                <div class="div_navbar_button">
                    <form  action="/donate" method="get" >
                        <button type="submit" class="btn btn-lg btn-outline-info my-2 my-sm-0" style="margin-left: 30px;">
                            <i class="glyphicon glyphicon-heart red" style="color:#DC143C"></i> Donate <i class="glyphicon glyphicon-heart" style="color:#DC143C"></i>
                        </button>
                     </form>
                </div>



            </div>
        </div>


        <div id="logout_form" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto"></ul>
            <font face="raphael" size="4" color="black" >Welcome back, {{ username }}!</font>
            <form  action="../auth/logout" method="POST" >{% csrf_token %}
                <button type="submit" class="btn btn-lg btn-outline-info my-2 my-sm-0" style="margin-left: 5px; margin-top: 100px;">Logout</button>
            </form>
        </div>
    </div>
</nav>
