<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/auth/register" id="register_form" method="POST"> {% csrf_token %}
        <div class="modal-body">
          email: {{ register_form.username }}
          <br>
          password: {{ register_form.password }}
        </div>

        <center>
          <div id="register_validation_errors_container" style="width: 90%;"></div>
        </center>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-primary" onclick="register()">Register</button>
        </div>
      </form>
    </div>
  </div>
  <script>
  function validateForm() {

    var allLetters = /^[a-zA-Z]+$/;
    var letter = /[a-zA-Z]/;
    var number = /[0-9]/;

    var email = document.getElementById("id_register_email").value;
    var password = document.getElementById("id_register_password").value;

    var invalid = [];

    if (email.indexOf("@") < 1 || email.lastIndexOf(".") < email.indexOf("@") + 2 || email.lastIndexOf(".") + 2 >= email.length) {
        invalid.push("Invalid email.");
    }

    if (password.length < 8 || !letter.test(password) || !number.test(password)) {
        invalid.push("Password must contain 8+ symbols and 1+ digit at least.");
    }

    if (invalid.length != 0) {
        validation_errors_container = document.getElementById("register_validation_errors_container");
        validation_errors_container.className="alert alert-danger";
        validation_errors_container.innerHTML = invalid.join("<br>");
        return false;
    } else {
        return true;
    };

  };

  function register() {
    validated = validateForm();
    if (validated) {
      document.getElementById("register_form").submit();
    };
  };


  </script>
  </div>
