<style>

    #calculator {
        width: 90%;
        display: inline-block;

    }

    .calc-text-area {
        margin-top: 5px;
        width: 90%;
        border: 0;
        border-radius: 5px;
        font-size: 13px;
        resize: vertical;
        margin-right: 5%;
        font-weight: 500;
        color: black;
    }
</style>


<div id="calc-wrap">
    <div id="calculator">
        <textarea class="calc-text-area" v-model="input" placeholder="3*5/(3-1+2)"></textarea>
        <br>
        <input class="calc-text-area" disabled :value="' = ' + [calculated ? calculated : 0]"/>
    </div>
</div>

<script>
new Vue({
    el: '#calculator',
    data: {
        input: '',
        output: '',
        regexPatt: "/[^0-9|+|-]+/g"
    },
    computed: {
        calculated: function () {
            try {
                return eval(this.input.replace(this.regexPatt, ''))
            } catch(error) {
                return '...'
            }
        }
    }
});

</script>