<script src="../modules/jscharts/canvasjs.min.js"></script>
<script src="../modules/jscharts/renderChart.js"></script>


<script>

    function get_sheets(sheet_ids) {
        $.getJSON({
            url: 'booker/api_sheets',
            data: {
                sheet_ids: sheet_ids,
                target: 'sheets'
            },
            dataType: 'json',
            success: function (data) {
                data.sheets.forEach(function(item) {
                    $('#sheet-container-' + item.id).html(item.html);
            })
        } })

    }


</script>
{% for sheet in sheets %}
    <div class="sheet-container" id="sheet-container-{{ sheet }}"></div>
{% else %}
    <h3 align="center"><i>No sheets found. Change filters or add first one :)</i></h3>
{% endfor %}




<script>
    get_sheets({{ sheets }});
    $(document).ajaxStop(function () {
      $(".select2_bootstrap").select2();
    });
</script>